<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./styless.css">
</head>

<body>
    <div class="content">
        <form id="create" method="POST" action="/" enctype="multipart/form-data">
            <input type="number" name="ma_sp" placeholder="ID Sản Phẩm" />
            <input type="text" name="ten_sp" placeholder="Tên Sản Phẩm" />
            <input type="number" name="so_luong" placeholder="Số Lượng Sản Phẩm" />
            <input type="submit" value="Submit" />
        </form>
        <form id="delete" method="POST" action="/delete" enctype="multipart/form-data">
            <div class="title">
                <h5>Danh sách sản phẩm</h5>
                <input type="submit" value="Xoa" />
            </div>
            <table border="1">
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Chọn</th>
                </tr>
                <% for (let i = 0; i < sanPhams.length; i++) { %>
                    <tr>
                        <td><%=sanPhams[i].ma_sp%></td>
                        <td><%=sanPhams[i].ten_sp%></td>
                        <td><%=sanPhams[i].so_luong%></td>
                        <td><input type="checkbox" name="<%=sanPhams[i].ma_sp%>" /></td>
                    </tr>
                <% } %>
            </table>
        </form>
    </div>
</body>

</html>